@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(-25deg);
  }

  50% {
    transform: translateY(-20px) rotate(-25deg);
  }

  100% {
    transform: translateY(0px) rotate(-25deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}